/* .expertadvice {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.expertadvice > img {
  object-fit: cover;
  height: 200px;
  width: 200px;
} */

.expert__main {
  overflow-x: hidden;
}

.expert__top {
  background-image: url("https://cdn.pixabay.com/photo/2014/11/11/18/20/pasta-527286_960_720.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.expert__top > h2 {
  position: absolute;
  top: 20%;
  left: 26%;
  background: linear-gradient(90deg, gray 30%, blue 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 83px;
  font-weight: 800;
  width: max-content;
}

.expert__top > a {
  position: relative;
  text-decoration: unset;
  top: 85%;
  left: 45%;
  width: max-content;
}

.scroll__icon > .MuiSvgIcon-root {
  font-size: 7rem;
}
.scroll__icon > .MuiSvgIcon-root:hover {
  box-shadow: inset 2px 4px 6px grey;
  font-size: 7.1rem;
  border-radius: 50%;
  color: red;
}

.expert {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/17/16/20/waffles-2412628_960_720.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.expert__Message {
  position: relative;
  top: 35%;
  left: 35%;
}

.expert__Message > h1 {
  background: linear-gradient(90deg, gray 30%, blue 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-weight: 800;
  width: max-content;
}

.expert__input > input {
  outline-width: 0;
  border: none;
  height: 50px;
  width: 25vw;
  background-color: transparent;
  font-size: 20px;
  color: white;
}
.expert__input:hover {
  background-color: rgba(130, 189, 238, 0.541);
}
.expert__input {
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  border: 1px solid whitesmoke;
  border-radius: 40px;
  padding-left: 30px;
  align-items: center;
  max-width: max-content;
  position: relative;
}

.expert__input > .MuiSvgIcon-root {
  align-items: center;
  color: #d53369;
  padding-right: 20px;
}

.expert__input > Button {
  display: none !important;
}

.scroll__icon2 {
  position: sticky;
  text-decoration: unset;
  top: 95%;
  left: 45%;

  width: max-content;
}
.scroll__icon2 > .MuiSvgIcon-root {
  font-size: 7rem;
}

.scroll__icon2 > .MuiSvgIcon-root:hover {
  box-shadow: inset 2px 4px 6px grey;
  font-size: 7.1rem;
  border-radius: 50%;
  color: red;
}

@media screen and (max-width: 1230px) {
  div.expert__Message {
    top: 35%;
    left: 30%;
  }
  div.expert__Message > h1 {
    font-size: 57px;
  }
  form.expert__input > input {
    max-width: 220px;
  }
  div.expert__top > h2 {
    font-size: 75px;
    left: 25% !important;
  }
}

@media screen and (max-width: 1148px) {
  div.expert__Message > h1 {
    font-size: 50px !important;
  }
  div.expert__Message {
    top: 35%;
    left: 30%;
  }
  form.expert__input > input {
    max-width: 180px;
  }
  div.expert__top > h2 {
    font-size: 67px !important;
    left: 18% !important;
  }
}

@media screen and (max-width: 910px) {
  div.expert__Message {
    left: 19%;
  }
  div.expert__top > h2 {
    font-size: 55px !important;
    top: 34%;
  }
}

/* imp */

@media screen and (max-width: 808px) {
  div.expert__Message {
    left: 15%;
  }
  div.expert__Message > h1 {
    font-size: 43px !important;
    -webkit-text-fill-color: #ff6b6b;
  }
  form.expert__input > input::placeholder {
    color: snow;
  }
  form.expert__input > .MuiSvgIcon-root {
    color: snow;
  }
  form.expert__input {
    border: 1px solid #7c7792;
    background-color: #07060b41;
  }

  div.expert__top > h2 {
    font-size: 50px !important;
    left: 16%;
  }
}

@media screen and (max-width: 712px) {
  div.expert__Message > h1 {
    font-size: 40px !important;
  }
  div.expert__Message {
    left: 20%;
    top: 40%;
  }
  div.expert__top > h2 {
    font-size: 40px !important;
    left: 20%;
  }
}

@media screen and (max-width: 622px) {
  div.expert__Message {
    top: 33%;
    left: 15%;
  }
  div.expert__Message > h1 {
    font-size: 35px !important;
  }
  div.expert__top > h2 {
    font-size: 40px !important;
    top: 45%;
  }
}

@media screen and (max-width: 542px) {
  div.expert__top > h2 {
    font-size: 35px !important;
  }
  div.expert__Message {
    top: 33%;
    left: 15%;
  }
  div.expert__Message > h1 {
    font-size: 33px !important;
  }
}

@media screen and (max-width: 470px) {
  div.expert__Message {
    top: 33%;
    left: 15%;
  }
  div.expert__Message > h1 {
    font-size: 27px !important;
  }

  form.expert__input > input {
    max-width: 150px;
    font-size: large;
  }
  div.expert__top > a {
    left: 40%;
  }
  div.expert > a {
    left: 40%;
  }
  div.expert__top > h2 {
    font-size: 30px !important;
    left: 15% !important;
  }
}

@media screen and (max-width: 398px) {
  div.expert__Message {
    left: 10%;
  }
  form.expert__input > input {
    max-width: 140px;
    font-size: large;
    height: 40px !important;
  }

  div.expert__Message > h1 {
    font-size: 36px;
    font-weight: 500;
  }
  div.expert__top > h2 {
    font-size: 28px !important;
    left: 15% !important;
    font-weight: 700;
    top: 34%;
  }
}

@media screen and (max-width: 348px) {
  div.expert__Message > h1 {
    font-size: 28px !important;
    font-weight: 400;
    width: max-content;
  }
  form.expert__input > input::placeholder {
    font-size: medium;
  }
  div.expert__top > h2 {
    left: 10% !important;
    font-size: 27px !important;
    top: 45% !important;
  }
}

@media screen and (max-width: 334px) {
  div.expert__Message > h1 {
    font-size: 24px !important;
    font-weight: 600 !important;
    width: max-content;
  }
  form.expert__input > input::placeholder {
    font-size: medium;
  }
  div.expert__top > h2 {
    left: 8% !important;
    font-size: 24px !important;
    font-weight: 800 !important;
    top: 45% !important;
  }
}

@media screen and (max-width: 1386px) {
  div.expert__Message > h1 {
    font-size: 60px;
  }
  form.expert__input > input {
    width: 250px;
  }
  div.expert__Message > p {
    font-size: 45px;
  }
  div.expert__top > h2 {
    font-size: 70px;
    left: 30%;
    top: 34%;
  }
}
