.header {
  display: flex;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2017/11/08/22/18/spaghetti-2931846_960_720.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 100%;
  height: 50px;
  width: auto;
}

.header__left {
  display: flex;
  flex: 1;
  padding-left: 10px;
  align-items: center;
}
.header__right > h3 {
  margin-right: 20px;
  background-color: snow !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.header__right a {
  margin-right: 20px;
  text-decoration: inherit;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5999;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #e4405f;
  color: white;
}

.header__right > .MuiButton-root {
  font-weight: 600;
  color: white;
  text-transform: inherit;
  background-color: rgb(147, 165, 106);
  margin-right: 10px;
  height: 50px;
  width: 80px;
  border-radius: 8px;
}
/* rgb(147, 165, 106)  #4b8df9 */
.header__right > .MuiButton-root:hover {
  background-color: #4b8df9;
}
