.recipe {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #3386d2 30%, #ace0f9 70%);
  padding: 6px;
  position: relative;
  border-radius: 1.5rem;
  break-inside: avoid !important;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  margin-bottom: 10px;
}

.recipe h2 {
  background-color: rgba(212, 102, 102, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 7%;
  left: 4%;
  width: 86%;
  font-size: large;
  font-weight: 500;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}
.recipe h3 {
  background-color: rgba(212, 102, 102, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  /* position: sticky; */
  top: 6.5rem;
  left: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
  text-align: center;
}

.recipe img {
  border-radius: 1.5rem;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

.recipe a {
  height: max-content;
}

.recipe button {
  font-size: larger;
  color: #fff;
  background-color: #f11712;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  font-weight: 600;
  margin: auto;
  width: 95%;
}

.ingredient__body {
  width: 80%;
  height: 50%;
  overflow-y: scroll;
  break-inside: avoid !important;
}
