.recipe {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 10px;
  position: relative;
  border-radius: 0.5rem;
}

.recipe h2 {
  background-color: rgba(212, 102, 102, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  /* position: sticky; */
  top: 1.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe img:hover .recipe a {
  font-size: 1.8rem;
  color: #40b48e;
  text-decoration: unset;
  text-align: center;
}

.recipe button {
  position: absolute;
  width: 300px;
  bottom: 10px;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #f11712;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
}
