.search {
  background-image: url("https://cdn.pixabay.com/photo/2017/11/08/22/18/spaghetti-2931846_960_720.jpg");
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.search__Message {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  top: 23%;
  left: 60%;
  max-width: max-content;
}

.search__Message > p {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  margin-left: 10px;
}

.search__Message > h1 {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
}

.search__input > input {
  outline-width: 0;
  border: none;
  height: 40px;
  width: 400px;
  background-color: transparent;
  font-size: 20px;
  color: white;
}

.search__input {
  display: flex;
  border: 1px solid whitesmoke;
  border-radius: 40px;
  padding-left: 30px;

  align-items: center;
  max-width: max-content;
  position: relative;

  height: 60px;
  top: 25%;
  left: 60%;
}

.search__input > .MuiSvgIcon-root {
  align-items: center;
  color: #d53369;
  padding-right: 20px;
}

.search__input > Button {
  display: none !important;
}
.search__recipes {
  width: 100%;
  display: flex;
  position: static;
  top: 20%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background: #0099f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f11712,
    #0099f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f11712,
    #0099f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
